{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% if cartItems == 0 %}
<br><br>
<h1>The shopping cart is empty</h1>
<a class="text-decoration-none" href="{% url 'store' %}">Go shopping!</a>
{% else %}
<br>
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					{% csrf_token %}
					<div id="user-info">
						<div class="form-field">
							{% if not user.is_authenticated %}
							<input required class="form-control" type="text" name="name" placeholder="Name" value="{{user}}">
							{% endif %}
						</div>
						<div class="form-field">
							{% if not user.is_authenticated %}
							<input required class="form-control" type="text" name="email" placeholder="Email" value="{{user.email}}">
							{% endif %}
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p class="text-w">Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" style="width: -webkit-fill-available;" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<div id="paypal-button-container"></div>
<!--				<button id="make-payment" class="btn btn-success">Make Payment</button>-->
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:  {{order.get_cart_items}}</h5>
				<h5>Total:   ${{order.get_cart_total}}</h5>
			</div>
		</div>
	</div>


<script src="https://www.paypal.com/sdk/js?client-id=ATRvMvgRH5k2iflr8XiXd2M2LkxhXA1_lxK4TWxJKNGMj1bcSL8zYcp8RN5NP6Cl5nzfIEXRX8HLDaGT&currency=USD"></script>


	<script>
		var total = '{{order.get_cart_total}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

        	style: {
                color:  'blue',
                shape:  'rect',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    submitFormData()
                });
            }

        }).render('#paypal-button-container');
    </script>


<script type="text/javascript">
	var shipping = '{{order.shipping}}'
	var total = '{{order.get_cart_total}}'

	//
	if(shipping == 'False'){
		document.getElementById('shipping-info').innerHTML = ''
	}

	var form = document.getElementById('form')

	form.addEventListener('submit', function(e){
		e.preventDefault()
		console.log('Form submitted...')
		document.getElementById('form-button').classList.add('hidden')
		document.getElementById('payment-info').classList.remove('hidden')
	})

	// document.getElementById('make-payment').addEventListener('click', function (e){
	// 	submitFormData()
	// })

	//
	function submitFormData(){
		console.log('Payment button clicked...')

		var userFormData = {
			'name': null,
			'email' : null,
			'total': total,
		}

		var shippingInfo = {
			'address': null,
			'city' : null,
			'zipcode': null,
			'state': null,
		}

		if(shipping != 'False'){
			shippingInfo.address = form.address.value
			shippingInfo.city = form.city.value
			shippingInfo.state = form.state.value
			shippingInfo.zipcode = form.zipcode.value
		}

		if(user == 'AnonymousUser'){
			userFormData.name = form.name.value
			userFormData.email = form.email.value
		}

		var url = '/process_order/'

		fetch(url, {
		 	method: 'POST',
        	headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        	},
			body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})

		}).then((response) => response.json())
		  .then((data)=>{
			  console.log('!',data);
			  alert('Zamówienie złożone')
			  cart = {}
              document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
			  window.location.href = "{% url 'store' %}"
		  })
	}
</script>
{% endif %}
{% endblock content %}