{% extends 'store/main.html' %}
{% load static %}
{% block content %}




<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'images/logo.png' %}" alt="fox_logo">
    <h1 class="display-5 fw-bold text-body-emphasis">Fox shop</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
          Welcome to Fox Shop
          – your one-stop destination for quality products and exceptional shopping experiences.
          We are passionate about offering you a carefully curated selection of items that bring joy, functionality,
          and style into your life.
            </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       <a href="{% url 'store' %}"> <button type="button" class="btn btn-primary btn-lg px-4 gap-3 rounded-2">Shop now</button> </a>

      </div>
    </div>
  </div>

<hr>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Our Story</h1>
        <p class="lead">
         Founded in 2023,
            we have come a long way from our beginnings as a small, local store.
            Our journey began with a vision to create an online shopping platform that caters to the needs and desires
            of our diverse customer base. Today, we proudly serve customers from all walks of life, and our commitment
            to providing the best products and service remains unwavering. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-4" src="{% static 'images/fox_logo.jpeg' %}" alt="" width="480">
      </div>
    </div>
  </div>


{% endblock content %}