{% extends 'store/main.html' %}

{% load static %}
{% block content %}

<main class="form-signin w-100 m-auto">

  <form method="post" action="">
    {% csrf_token %}


    <img class="mb-4" src="{% static 'images/login.png' %}" alt="" width="100">
    {% if page == 'login' %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
      <input name="name"  type="text" class="form-control"  placeholder="name@example.com">
      <label >Name</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-check text-start my-3">

      <label>
        <span>Dont have account?</span>
        <a href="{% url 'register' %}">Register</a>
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit" value="Login">Sign in</button>
    {% else %}
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    {% for field in form %}
        <div class="form-floating">
          <p>{{ field.label_tag }} <br>
            {{ field }}</p>
    </div>
    {% endfor %}
    <a href="{% url 'login' %}">Login</a>
    <button class="btn btn-primary w-100 py-2" type="submit" value="Login">Register</button>
    {% endif %}
  </form>


</main>

{% endblock content %}