{% load static %}
<header class="p-4 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'store' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img style="max-width: 80%" src="{% static 'images/logo.png' %}">

        </a>
            <a  class="text-decoration-none text-white" href="{% url 'home' %}" style="margin-right: 40px">Fox Shop</a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'store' %}" class="nav-link px-2 text-white">Store</a></li>
          <li><a href="{% url 'cart' %}" class="nav-link px-2 text-white">Cart</a></li>
           {% if user.is_authenticated %}
          <li><a href="{% url 'order_history' %}" class="nav-link px-2 text-white">Order history</a></li>
           {% endif %}
          <li><a href="{% url 'checkout' %}" class="nav-link px-2 text-white">Checkout</a></li>
        </ul>


    <div class="form-inline my-2 my-lg-0">
         {% if user.is_authenticated %}
         <span style="margin-right: 10px">Hello {{user}}! </span>
         <a href="{% url 'logout' %}"class="btn text-white">
               <img class="mb-1" src="{% static 'images/login.png' %}" alt="" width="28">Logout</a>
         {% else %}
      <a href="{% url 'login' %}" class="text-decoration-none text-white">
          <img class="mb-1" src="{% static 'images/login.png' %}" alt="" width="28">Login</a>
         {% endif %}
      <a href="{% url 'cart' %}">
        <img  id="cart-icon" src="{% static 'images/cart.png' %}">
      </a>
          <p id="cart-total">{{cartItems}}</p>
    </div>

      </div>
    </div>
  </header>