{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<br>
{% if order_items %}
<h1>Order History</h1>
<p>Date:  {{order.data_order | date:"M d, Y"}}</p>
<p>Order id: {{order}}</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% for order in order_items %}
    <tr>
      <td>{{order.product}}</td>
      <td>{{order.quantity}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<br><br>
<h1>You have not currently placed an order. </h1>
<a class="text-decoration-none" href="{% url 'store' %}">Order now!</a>
{% endif %}


{% endblock %}