{% extends 'store/main.html' %}
{% load static %}
{% block content %}


  <div class="container py-5">
    <a class="text-decoration-none" href="{% url 'store' %}">⬅︎</a>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">

          <img src="{{product.imageURL}}"
            class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{product.name}}</h5>

            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Price</span><span>{{product.price}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Digital</span><span>{{product.digital}}</span>
              </div>
              <div class="d-flex justify-content-center">
               <button data-product={{product.id}} data-action="add" class="btn btn btn-success rounded-2 add-btn update-cart">Add to Cart</button>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}