{% extends 'store/main.html' %}
{% load static %}

{% block content %}

    <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'images/candy_icon.png' %}" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Sweets full of joy</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">

        Thank you for choosing Fox shop as your shopping destination. We look forward to growing with you and continuing to provide top-notch products and customer service. Explore our online store and discover an array of exciting items that cater to your unique lifestyle.
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

      </div>
    </div>
  </div>

<hr>

<div class="row">

    <div class="input-group justify-content-end mt-2">

   <span class="input-group-text text-center" id="basic-addon1">
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
  </svg>
   </span>
         <form action="{% url 'store' %}" method="get">
                <input type="text" name="q" class="form-control rounded-0" placeholder="Search"  aria-describedby="basic-addon1">

        </form>
              </div>


    {% for product in products %}
    <div class="col-lg-4 rounded-4 mt-5">
<!--        <img class="thumbnail"  src="{% static 'images/placeholder.png' %}">-->
        <img class="thumbnail rounded-2"  src="{{product.imageURL}}">
        <div class="box-element product">
            <strong>{{product.name}}</strong>
            <hr>
             <button data-product={{product.id}} data-action="add" class="btn btn btn-success rounded-2 add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-success rounded-2" href="{% url 'product_view' product.id %}">View</a>
            <h4 style="display: inline-block; float: right">${{product.price | floatformat:2}}</h4>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}